/* Young Serif - Regular (WOFF2) */
@font-face {
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400; 
  font-display: swap; 
  src: local('Young Serif Regular'), local('YoungSerif-Regular'),
       url('#{$asset_url}/fonts/YoungSerif-Regular.woff2') format('woff2');
}