.site-navigation {
  margin-top: 2rem;
  padding: 0 1rem;
  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }
}

.site-navigation ul {
  margin: 0;
  padding: 0;           /* Removes default list indentation */
  list-style: none;     /* Removes the bullet points */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  width: 100%; 
}

.site-navigation li {
  list-style-type: none; /* Secondary backup to ensure bullets are gone */
  margin: 0;
  padding: 0;
  font-family: 'Young Serif', serif;
  font-weight: 700;      /* Targets YoungSerif-Bold.woff2 */
  font-variant: normal;
  font-size: .875em;
}

.site-navigation a {
  display: block;
  padding: .25em 1.5rem; 
  text-decoration: none;
  transition: opacity .125s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1;
  }
}